

*.pyproj
*.json
*.sln
PythonApplication1/Unit1 and 2/Unit One and Two/.vs/Unit One and Two/v17/.suo
PythonApplication1/PythonApplication1/.vs/PythonApplication1/v17/.wsuo
PythonApplication1/PythonApplication1/.vs/slnx.sqlite
PythonApplication1/Unit1 and 2/Unit One and Two/.vs/Unit One and Two/FileContentIndex/ef1b982c-a743-4213-868a-bf105db8fe48.vsidx
