
PythonApplication1/Unit 3/Unit 3/.vs/Unit 3/FileContentIndex/f1cc83e2-3132-4f56-9f8d-549c8a35b38f.vsidx
/PythonApplication1/Unit 3
*.vsidx
*.json
PythonApplication1/Unit1 and 2/Unit One and Two/Unit One and Two.sln
PythonApplication1/Unit1 and 2/Unit One and Two/.vs/Unit One and Two/v17/.suo
PythonApplication1/Unit1 and 2/Unit One and Two/Unit One and Two/Unit One and Two.pyproj
Unit 3/Unit 3/.vs/Unit 3/v17/.suo
Unit 3/Unit 3/Unit 3.sln
Unit 3/Unit 3/Unit 3/Unit 3.pyproj
Unit 3/Unit 3/Unit 3/.vs/Unit 3/v17/.suo
Unit 3/Unit 3/Unit 3/Unit 3.sln
Unit 3/Unit 3/Unit 3/Unit 3/Unit 3.pyproj
Unit 3/Unit 3/Unit 3/Unit 3, solution/Unit 3/Unit 3.pyproj
Unit 3/Unit 3/Unit 3/Unit 3, solution/.vs/Unit 3, solution/v17/.suo
