
PythonApplication1/PythonApplication1/PythonApplication1.pyproj
PythonApplication1/PythonApplication1.sln
PythonApplication1/.vs/PythonApplication1/v17/DocumentLayout.json
PythonApplication1/.vs/PythonApplication1/v17/DocumentLayout.backup.json

*.vsidx
Personal Project/.vs/Personal Project/v17/.suo
Personal Project/.vs/Personal Project/v17/DocumentLayout.backup.json
Personal Project/.vs/Personal Project/v17/DocumentLayout.json




PythonApplication1/PythonApplication1/.vs/ProjectSettings.json
PythonApplication1/PythonApplication1/.vs/PythonApplication1/v17/.wsuo
PythonApplication1/PythonApplication1/.vs/PythonApplication1/v17/DocumentLayout.json
PythonApplication1/PythonApplication1/.vs/slnx.sqlite
PythonApplication1/PythonApplication1/.vs/VSWorkspaceState.json
